* {
    margin: 0;
    padding: 0;
}
body, html{
    width: 100%;
    height: 100%;
    background-color:  #FFFFFF;
}
.seccionT{
    display: flex;
    width: 100%;
    height: 100%;
}
#facialRojo{
    color: red;
}
#divTitulo{
    display: flex;
    text-align: center;
    padding: 50px;
}
.nombrePW{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#navegar{
    margin-left: 50px;
}
.irA{
    margin-top: 31%;
    font-size: 25px;
}
.irA a{
    text-decoration: none;
    color: black;
}

.lineaVertical{
    border: solid;
}
